.waifu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16.66rem;
    margin: 0 .5rem 0rem .5rem;
    background-color: #212121;
    border-radius: .5rem;
  }

  .waifu .image-container {
    height: 16.66rem;
    margin: .75rem;
  }
  
  .waifu h2 {
    margin: 0 .5rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
.card-info a{
  background-color:#484848;
  border-radius:.4rem;
  margin: 0 .2rem 2.3rem .5rem;
  padding:.5em;
  position: relative;
  top:-5px;
  float:right;
  background-color: #fd68ab;
  color: #ffffff;
  font-weight: 600;
  transition: background-color .5s;
}
.card-info a:hover {
  cursor: pointer;
  background-color: #fd4f9d;
}
  
  .waifu-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .value-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
  }
  .flavor-info{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: .5rem;
  }

  
  .value-info .rating {
    font-size: .88rem;
    line-height: 1rem;
  }
  .flavor-info p{
    font-size: .75rem;
    line-height: 1rem;
    font-style:italic;
    font-weight:600;
    margin: .5rem auto .5rem;
  }

.wifu-info .pricebox .green {
  font-weight:600;
}
